<ion-header>
  <ion-toolbar>
    <ion-title>
      Hr calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Age</ion-label>
        <ion-input [(ngModel)]="age" type="number" step="1" required></ion-input>
      </ion-item>
      <ion-item>
        Your hear rate limits are
        {{hrService.getLower() | number: '1.0-0'}}-{{hrService.getUpper() | number: '1.0-0'}}
      </ion-item>
    </ion-list>
    <ion-button (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>